html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        .cat
            .cat__head
            .cat__ears
                .cat__ear.cat__ear--left
                .cat__ear.cat__ear--right
            .cat__neck
            .cat__necksupport.cat__necksupport--left
            .cat__necksupport.cat__necksupport--right
            .cat__body
            .cat__tails
                .cat__tail.cat__tail--right
                .cat__tail.cat__tail--left
                .cat__tailtop