@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes scale0-1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes turn1 {
  from {
    transform: rotate(0.2turn);
  }
  to {
    transform: rotate(1.2turn);
  }
}
@keyframes turn2 {
  from {
    transform: rotate(0.4turn);
  }
  to {
    transform: rotate(1.4turn);
  }
}
@keyframes turn3 {
  from {
    transform: rotate(0.3turn);
  }
  to {
    transform: rotate(1.3turn);
  }
}
@keyframes turn4 {
  from {
    transform: rotate(0.9turn);
  }
  to {
    transform: rotate(1.9turn);
  }
}
@keyframes turn5 {
  from {
    transform: rotate(0.4turn);
  }
  to {
    transform: rotate(1.4turn);
  }
}
@keyframes turn6 {
  from {
    transform: rotate(0.5turn);
  }
  to {
    transform: rotate(1.5turn);
  }
}
@keyframes turn7 {
  from {
    transform: rotate(0.7turn);
  }
  to {
    transform: rotate(1.7turn);
  }
}
@keyframes turn8 {
  from {
    transform: rotate(1turn);
  }
  to {
    transform: rotate(2turn);
  }
}
@keyframes turn9 {
  from {
    transform: rotate(0.3turn);
  }
  to {
    transform: rotate(1.3turn);
  }
}
@keyframes turn10 {
  from {
    transform: rotate(0.2turn);
  }
  to {
    transform: rotate(1.2turn);
  }
}
.chapter-1[data-state=active] {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f0beba;
}
.chapter-1[data-state=active] .line {
  position: relative;
  width: 100vw;
  height: 100vh;
  /**
  * animation-1
  * lineDown
  */
}
.chapter-1[data-state=active] .line::before, .chapter-1[data-state=active] .line::after {
  content: "";
  position: absolute;
}
.chapter-1[data-state=active] .line::before {
  width: calc(100vw / 30 / 2);
  height: 0;
  left: calc(50% - calc(100vw / 30 / 2) / 2);
}
.chapter-1[data-state=active] .line:nth-of-type(7n + 1)::before {
  background-color: #d4e7ee;
}
.chapter-1[data-state=active] .line:nth-of-type(7n + 2)::before {
  background-color: #f3e8c3;
}
.chapter-1[data-state=active] .line:nth-of-type(7n + 3)::before {
  background-color: #bed8c2;
}
.chapter-1[data-state=active] .line:nth-of-type(7n + 4)::before {
  background-color: #e7f3e7;
}
.chapter-1[data-state=active] .line:nth-of-type(7n + 5)::before {
  background-color: #f1ceaf;
}
.chapter-1[data-state=active] .line:nth-of-type(7n + 6)::before {
  background-color: #d8a156;
}
.chapter-1[data-state=active] .line:nth-of-type(7n + 7)::before {
  background-color: #9da17c;
}
.chapter-1[data-state=active] .line:nth-of-type(1)::before {
  animation: lineDown 1s 0.03s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(1)::after {
  animation: expand 1s 0.03s ease-in-out forwards;
  background-color: #f3e8c3;
}
.chapter-1[data-state=active] .line:nth-of-type(2)::before {
  animation: lineDown 1s 0.06s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(2)::after {
  animation: expand 1s 0.06s ease-in-out forwards;
  background-color: #bed8c2;
}
.chapter-1[data-state=active] .line:nth-of-type(3)::before {
  animation: lineDown 1s 0.09s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(3)::after {
  animation: expand 1s 0.09s ease-in-out forwards;
  background-color: #e7f3e7;
}
.chapter-1[data-state=active] .line:nth-of-type(4)::before {
  animation: lineDown 1s 0.12s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(4)::after {
  animation: expand 1s 0.12s ease-in-out forwards;
  background-color: #f1ceaf;
}
.chapter-1[data-state=active] .line:nth-of-type(5)::before {
  animation: lineDown 1s 0.15s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(5)::after {
  animation: expand 1s 0.15s ease-in-out forwards;
  background-color: #d8a156;
}
.chapter-1[data-state=active] .line:nth-of-type(6)::before {
  animation: lineDown 1s 0.18s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(6)::after {
  animation: expand 1s 0.18s ease-in-out forwards;
  background-color: #9da17c;
}
.chapter-1[data-state=active] .line:nth-of-type(7)::before {
  animation: lineDown 1s 0.21s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(7)::after {
  animation: expand 1s 0.21s ease-in-out forwards;
  background-color: #d4e7ee;
}
.chapter-1[data-state=active] .line:nth-of-type(8)::before {
  animation: lineDown 1s 0.24s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(8)::after {
  animation: expand 1s 0.24s ease-in-out forwards;
  background-color: #f3e8c3;
}
.chapter-1[data-state=active] .line:nth-of-type(9)::before {
  animation: lineDown 1s 0.27s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(9)::after {
  animation: expand 1s 0.27s ease-in-out forwards;
  background-color: #bed8c2;
}
.chapter-1[data-state=active] .line:nth-of-type(10)::before {
  animation: lineDown 1s 0.3s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(10)::after {
  animation: expand 1s 0.3s ease-in-out forwards;
  background-color: #e7f3e7;
}
.chapter-1[data-state=active] .line:nth-of-type(11)::before {
  animation: lineDown 1s 0.33s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(11)::after {
  animation: expand 1s 0.33s ease-in-out forwards;
  background-color: #f1ceaf;
}
.chapter-1[data-state=active] .line:nth-of-type(12)::before {
  animation: lineDown 1s 0.36s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(12)::after {
  animation: expand 1s 0.36s ease-in-out forwards;
  background-color: #d8a156;
}
.chapter-1[data-state=active] .line:nth-of-type(13)::before {
  animation: lineDown 1s 0.39s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(13)::after {
  animation: expand 1s 0.39s ease-in-out forwards;
  background-color: #9da17c;
}
.chapter-1[data-state=active] .line:nth-of-type(14)::before {
  animation: lineDown 1s 0.42s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(14)::after {
  animation: expand 1s 0.42s ease-in-out forwards;
  background-color: #d4e7ee;
}
.chapter-1[data-state=active] .line:nth-of-type(15)::before {
  animation: lineDown 1s 0.45s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(15)::after {
  animation: expand 1s 0.45s ease-in-out forwards;
  background-color: #f3e8c3;
}
.chapter-1[data-state=active] .line:nth-of-type(16)::before {
  animation: lineDown 1s 0.48s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(16)::after {
  animation: expand 1s 0.48s ease-in-out forwards;
  background-color: #bed8c2;
}
.chapter-1[data-state=active] .line:nth-of-type(17)::before {
  animation: lineDown 1s 0.51s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(17)::after {
  animation: expand 1s 0.51s ease-in-out forwards;
  background-color: #e7f3e7;
}
.chapter-1[data-state=active] .line:nth-of-type(18)::before {
  animation: lineDown 1s 0.54s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(18)::after {
  animation: expand 1s 0.54s ease-in-out forwards;
  background-color: #f1ceaf;
}
.chapter-1[data-state=active] .line:nth-of-type(19)::before {
  animation: lineDown 1s 0.57s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(19)::after {
  animation: expand 1s 0.57s ease-in-out forwards;
  background-color: #d8a156;
}
.chapter-1[data-state=active] .line:nth-of-type(20)::before {
  animation: lineDown 1s 0.6s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(20)::after {
  animation: expand 1s 0.6s ease-in-out forwards;
  background-color: #9da17c;
}
.chapter-1[data-state=active] .line:nth-of-type(21)::before {
  animation: lineDown 1s 0.63s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(21)::after {
  animation: expand 1s 0.63s ease-in-out forwards;
  background-color: #d4e7ee;
}
.chapter-1[data-state=active] .line:nth-of-type(22)::before {
  animation: lineDown 1s 0.66s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(22)::after {
  animation: expand 1s 0.66s ease-in-out forwards;
  background-color: #f3e8c3;
}
.chapter-1[data-state=active] .line:nth-of-type(23)::before {
  animation: lineDown 1s 0.69s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(23)::after {
  animation: expand 1s 0.69s ease-in-out forwards;
  background-color: #bed8c2;
}
.chapter-1[data-state=active] .line:nth-of-type(24)::before {
  animation: lineDown 1s 0.72s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(24)::after {
  animation: expand 1s 0.72s ease-in-out forwards;
  background-color: #e7f3e7;
}
.chapter-1[data-state=active] .line:nth-of-type(25)::before {
  animation: lineDown 1s 0.75s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(25)::after {
  animation: expand 1s 0.75s ease-in-out forwards;
  background-color: #f1ceaf;
}
.chapter-1[data-state=active] .line:nth-of-type(26)::before {
  animation: lineDown 1s 0.78s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(26)::after {
  animation: expand 1s 0.78s ease-in-out forwards;
  background-color: #d8a156;
}
.chapter-1[data-state=active] .line:nth-of-type(27)::before {
  animation: lineDown 1s 0.81s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(27)::after {
  animation: expand 1s 0.81s ease-in-out forwards;
  background-color: #9da17c;
}
.chapter-1[data-state=active] .line:nth-of-type(28)::before {
  animation: lineDown 1s 0.84s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(28)::after {
  animation: expand 1s 0.84s ease-in-out forwards;
  background-color: #d4e7ee;
}
.chapter-1[data-state=active] .line:nth-of-type(29)::before {
  animation: lineDown 1s 0.87s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(29)::after {
  animation: expand 1s 0.87s ease-in-out forwards;
  background-color: #f3e8c3;
}
.chapter-1[data-state=active] .line:nth-of-type(30)::before {
  animation: lineDown 1s 0.9s forwards;
}
.chapter-1[data-state=active] .line:nth-of-type(30)::after {
  animation: expand 1s 0.9s ease-in-out forwards;
  background-color: #bed8c2;
}
.chapter-1[data-state=active] .line::after {
  width: calc(100vw / 30 / 2);
  height: calc(100vw / 30 / 2);
  border-radius: calc(100vw / 30 / 2);
  background-color: white;
  opacity: 0;
  left: calc(50% - calc(100vw / 30 / 2) / 2);
  top: 100%;
}

@keyframes lineDown {
  0% {
    height: 0;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
@keyframes expand {
  0%, 79% {
    opacity: 0%;
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(300);
  }
}
body {
  margin: 0;
  padding: 0;
}

.chapter-2[data-state=active] {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(-20deg, #0f5398, #cee7fd);
}
.chapter-2[data-state=active] .bubble {
  transition: 1s all;
  width: 80vmin;
  height: 80vmin;
  position: absolute;
  border-radius: 50%;
  box-shadow: 2px 20px 20px #3884af;
}
.chapter-2[data-state=active] .bubble::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.chapter-2[data-state=active] .bubble span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.chapter-2[data-state=active] .bubble span:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: radial-gradient(transparent 0%, transparent 40%, rgba(0, 170, 255, 0.9) 90%);
  z-index: 2;
}
.chapter-2[data-state=active] .bubble span:nth-child(1)::before, .chapter-2[data-state=active] .bubble span:nth-child(1)::after {
  position: absolute;
  content: "";
}
.chapter-2[data-state=active] .bubble span:nth-child(1)::before {
  top: 6%;
  left: 20%;
  width: 60%;
  height: 24%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.98);
  filter: blur(10px);
}
.chapter-2[data-state=active] .bubble span:nth-child(1)::after {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0px -20px 0 3px rgba(255, 255, 255, 0.98);
  filter: blur(8px);
}
.chapter-2[data-state=active] .bubble span:nth-child(2) {
  background-size: 90% auto;
  background-position: 80% 0;
  z-index: 1;
}
.chapter-2[data-state=active] .bubble:nth-child(1) {
  width: 94.6666666667vmin;
  height: 94.6666666667vmin;
  z-index: 1;
  top: 22.6666666667vmin;
  left: -17.3333333333vmin;
}
.chapter-2[data-state=active] .bubble:nth-child(1) span:nth-child(2) {
  background-image: url("../src/images/character1.png");
  animation: turn1 8s linear forwards infinite;
}
.chapter-2[data-state=active] .bubble:nth-child(2) {
  width: 65.3333333333vmin;
  height: 65.3333333333vmin;
  z-index: 4;
  top: 7.3333333333vmin;
  left: 27.3333333333vmin;
}
.chapter-2[data-state=active] .bubble:nth-child(2) span:nth-child(2) {
  background-image: url("../src/images/character2.png");
  animation: turn2 7s linear forwards infinite;
}
.chapter-2[data-state=active] .bubble:nth-child(3) {
  width: 40vmin;
  height: 40vmin;
  z-index: 7;
  top: 0vmin;
  left: -10vmin;
}
.chapter-2[data-state=active] .bubble:nth-child(3) span:nth-child(2) {
  background-image: url("../src/images/character3.png");
  animation: turn3 13s linear forwards infinite;
}
.chapter-2[data-state=active] .bubble:nth-child(4) {
  width: 53.3333333333vmin;
  height: 53.3333333333vmin;
  z-index: 6;
  top: -16.6666666667vmin;
  left: 23.3333333333vmin;
}
.chapter-2[data-state=active] .bubble:nth-child(4) span:nth-child(2) {
  background-image: url("../src/images/character4.png");
  animation: turn4 6s linear forwards infinite;
}
.chapter-2[data-state=active] .bubble:nth-child(5) {
  width: 50.6666666667vmin;
  height: 50.6666666667vmin;
  z-index: 7;
  top: 44.6666666667vmin;
  left: -15.3333333333vmin;
}
.chapter-2[data-state=active] .bubble:nth-child(5) span:nth-child(2) {
  background-image: url("../src/images/character5.png");
  animation: turn5 20s linear forwards infinite;
}
.chapter-2[data-state=active] .bubble:nth-child(6) {
  width: 78.6666666667vmin;
  height: 78.6666666667vmin;
  z-index: 9;
  top: -9.3333333333vmin;
  left: 20.6666666667vmin;
}
.chapter-2[data-state=active] .bubble:nth-child(6) span:nth-child(2) {
  background-image: url("../src/images/character6.png");
  animation: turn6 11s linear forwards infinite;
}
.chapter-2[data-state=active] .bubble:nth-child(7) {
  width: 85.3333333333vmin;
  height: 85.3333333333vmin;
  z-index: 3;
  top: 17.3333333333vmin;
  left: 27.3333333333vmin;
}
.chapter-2[data-state=active] .bubble:nth-child(7) span:nth-child(2) {
  background-image: url("../src/images/character7.png");
  animation: turn7 18s linear forwards infinite;
}
.chapter-2[data-state=active] .bubble:nth-child(8) {
  width: 100vmin;
  height: 100vmin;
  z-index: 9;
  top: -10vmin;
  left: 20vmin;
}
.chapter-2[data-state=active] .bubble:nth-child(8) span:nth-child(2) {
  background-image: url("../src/images/character8.png");
  animation: turn8 2s linear forwards infinite;
}
.chapter-2[data-state=active] .bubble:nth-child(9) {
  width: 48vmin;
  height: 48vmin;
  z-index: 4;
  top: 26vmin;
  left: 16vmin;
}
.chapter-2[data-state=active] .bubble:nth-child(9) span:nth-child(2) {
  background-image: url("../src/images/character9.png");
  animation: turn9 16s linear forwards infinite;
}
.chapter-2[data-state=active] .bubble:nth-child(10) {
  width: 81.3333333333vmin;
  height: 81.3333333333vmin;
  z-index: 8;
  top: 59.3333333333vmin;
  left: -20.6666666667vmin;
}
.chapter-2[data-state=active] .bubble:nth-child(10) span:nth-child(2) {
  background-image: url("../src/images/character10.png");
  animation: turn10 9s linear forwards infinite;
}
.chapter-2[data-state=active] .bubble[data-state=clicked] {
  animation: fadeout 0.01s ease 0.3s forwards;
}
.chapter-2[data-state=active] .bubble[data-state=clicked]::before, .chapter-2[data-state=active] .bubble[data-state=clicked]::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(0);
  z-index: 4;
}
.chapter-2[data-state=active] .bubble[data-state=clicked]::before {
  background-color: #0e5196;
  animation: scale0-1 0.2s ease 0s forwards;
}
.chapter-2[data-state=active] .bubble[data-state=clicked]::after {
  background-color: #fff;
  animation: scale0-1 0.2s ease 0.1s forwards;
}
.chapter-2[data-state=active] .bubble[data-state=clicked] span {
  display: none;
}