doctype html
<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        .cube
            .cube__front.face
            .cube__back.face
            .cube__right.face
            .cube__left.face
            .cube__top.face
            .cube__bottom.face