.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  flex: 0 0 320px;
  margin: 8px;
  background-color: #dddddd;
  border: 1px solid lightgray;
  border-radius: 2px;

  > div > * + * {
    margin-top: 6px;
  }

  .handle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    border-radius: 2px;
    &__line {
      width: 90%;
      height: 5px;
    background-color: #bebebe;
      border-radius: 3px;
    }
  }
  .title_p {
    position: absolute;
  }

  .title {
    width: 100%;
    padding: 8px;
    background-color: inherit;
    resize: none;
    border: none;
  }

  .task_list {
    padding: 8px;
    flex: 1;
  }
}
