.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  flex: 0 0 320px;
  margin: 8px;
  background-color: #dddddd;
  border: 1px solid lightgray;
  border-radius: 2px;

  > div > * + * {
    margin-top: 6px;
  }

  textarea {
    width: 100%;
    background-color: inherit;
    resize: none;
    border: none;
  }

  .title {
    padding: 8px;
  }

  .task_list {
    padding: 8px;
    flex: 1;
  }
}
