.ticket {
  display: flex;
  width: 320px;
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.25));
}
.main {
  background-color: red;
}
.sub {
  background-color: #1f529f;
}
.title {
  background-color: gray;
}
.avatar {
}
.hours {
  color: white;
  font-weight: bold;
}
