.ticket {
  width: 100%;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
}
.ticket__dragging > .wrapper {
  transition: 0.1s ease-out;
  transform: rotate(-2deg);
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}
.left {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: inherit;
}
.left > * + * {
  margin-top: 4px;
}
.content {
  font-size: 16px;
  word-break: break-all;
  overflow-wrap: break-word;
}
.avatar {
  width: 28px;
  height: 28px;
  background-color: red;
  border-radius: 50%;
}
.right {
  background-color: #1f529f;
  padding: 0 10px 0;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  .time {
    display: flex;
    font-size: 26px;
    text-align: center;

    .plus {
      font-size: 26px;
      color: #ffffff;
    }
    .hours {
      flex: 1;
      text-align: end;
      font-weight: bold;
    }
    .hours__consume {
      color: white;
    }
    .hours__estimate {
      color: #c7c7c7;
    }
    .minus {
      color: #ffffff;
    }
  }
}
