@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes scale0-1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@for $i from 1 through 10 {
  @keyframes chapter1_turn#{$i} {
    $random: random(10) / 10;
    from {
      transform: rotate(#{$random}turn);
    }
    to {
      transform: rotate(#{1 + $random}turn);
    }
  }
}

@keyframes chapter1_float {
  0% {
    transform: translate(-10%, 100vh);
  }
  100% {
    transform: translate(0, -200vh);
  }
}

@keyframes chapter1_float_end {
  0% {
    transform:translate(0, 0);
  }
  100% {
    transform: translate(0, -300vh);
  }
}
@keyframes chapter1_swing {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(-50px);
  }
}
