*
*::after
*::before
    box-sizing: border-box

:root
    --cat hsl(200, 40%, 35%)
    --bg hsl(200, 80%, 90%)
    --size 40
    --unit calc((var(--size) / 300) * 1vmin)

body 
    background-color var(--bg)
    display: flex
    justify-content: center
    align-items: center

.box__image
    opacity: 0.4
