doctype html
<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        .egg
            .egg__glasses-arm
            .egg__shell
            .egg__glasses
                .egg__glass.egg__glass--left
                .egg__glass-bridge
                .egg__glass.egg__glass--right
