html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        .box__image
            img.concrete(src="assets/img/kanna.jpg")
        .kanna
            .kanna__head
                .kanna__face
                    .kanna__eyes
                        .kanna__eye.kanna__eye--left
                        .kanna__eye.kanna__eye--right

                    .kanna__mouth
                    .kanna__eyebrows
                        .kanna__eyebrow--left
                        .kanna__eyebrow--right

                .kanna__hair
                    .kanna__hair-center
                    .kanna__hair-sides
                        .kanna__hair-side.kanna__hair-side--left
                        .kanna__hair-side.kanna__hair-side--right

                    .kanna__hair-libon
                    .kanna__hair-back

                .kanna__horns
                    .kanna__horns-tops
                        .kanna__horns-top.kanna__horns-top--left
                        .kanna__horns-top.kanna__horns-top--right
                    .kanna__horns-middles
                        .kanna__horns-middle.kanna__horns-middle--left
                        .kanna__horns-middle.kanna__horns-middle--right
                    .kanna__horns-bottoms
                        .kanna__horns-bottom.kanna__horns-bottom--left
                        .kanna__horns-bottom.kanna__horns-bottom--right

            .kanna__body